flow.json
[
    {
        "id": "be25e6ee0aa3a233",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e1feee424bca76e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d576b26b5b9ed5a",
        "type": "http in",
        "z": "be25e6ee0aa3a233",
        "name": "Telemetry",
        "url": "/api/sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "21daa8f49849b5b4",
                "86c97e7b754b5ad5"
            ]
        ]
    },
    {
        "id": "21daa8f49849b5b4",
        "type": "http response",
        "z": "be25e6ee0aa3a233",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "86c97e7b754b5ad5",
        "type": "debug",
        "z": "be25e6ee0aa3a233",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "ffdafd310e57ab83",
        "type": "http in",
        "z": "4e1feee424bca76e",
        "name": "Telemetry",
        "url": "/api/sensor",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "bd90f7868e23d3e3",
                "33b65bc1ba319924"
            ]
        ]
    },
    {
        "id": "bd90f7868e23d3e3",
        "type": "function",
        "z": "4e1feee424bca76e",
        "name": "function 1",
        "func": "msg.payload = {\n    sensor_id: \"ESP32_01\",\n    temperature: 24.5,\n    humidity: 60\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "11309c2ab2b74015"
            ]
        ]
    },
    {
        "id": "11309c2ab2b74015",
        "type": "http response",
        "z": "4e1feee424bca76e",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "33b65bc1ba319924",
        "type": "debug",
        "z": "4e1feee424bca76e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 240,
        "wires": []
    }
]
